<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.tongwei.contextprovider">

    <application>
        <!-- 全局Context提供者 -->
        <provider
                android:name="com.zh.android.contextprovider.ApplicationContextProvider"
                android:authorities="${applicationId}.contextprovider"
                android:exported="false" />
    </application>
</manifest>