<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zh.android.circle.todo">

    <application>
        <activity
            android:name=".ui.activity.TodoListActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.TodoEditActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
    </application>
</manifest>