<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zh.android.chat.mine">

    <application>
        <activity android:name=".ui.activity.ModifyNickNameActivity" />
        <activity android:name=".ui.activity.ModifyAvatarActivity" />
        <activity android:name=".ui.activity.MyQrCodeActivity" />
    </application>
</manifest>