<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zh.android.chat.mine">


    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".ui.activity.ModifyNickNameActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ModifyAvatarActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MyQrCodeActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
    </application>
</manifest>