<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zh.android.chat.moment">

    <application>
        <activity android:name=".ui.activity.MomentListActivity" />
        <activity android:name=".ui.activity.MomentDetailActivity" />
        <activity android:name=".ui.activity.MomentPublishActivity" />
        <activity android:name=".ui.activity.MomentCommentDetailActivity" />
    </application>
</manifest>